In [262]:
pip install ndlib

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: ndlib in /usr/local/lib/python3.7/dist-packages (5.1.1)
Requirement already satisfied: numpy in /usr/local/lib/python3.7/dist-packages (from ndlib) (1.21.6)
Requirement already satisfied: future in /usr/local/lib/python3.7/dist-packages (from ndlib) (0.16.0)
Requirement already satisfied: python-igraph in /usr/local/lib/python3.7/dist-packages (from ndlib) (0.9.11)
Requirement already satisfied: dynetx in /usr/local/lib/python3.7/dist-packages (from ndlib) (0.3.1)
Requirement already satisfied: scipy in /usr/local/lib/python3.7/dist-packages (from ndlib) (1.4.1)
Requirement already satisfied: bokeh in /usr/local/lib/python3.7/dist-packages (from ndlib) (2.3.3)
Requirement already satisfied: networkx in /usr/local/lib/python3.7/dist-packages (from ndlib) (2.6.3)
Requirement already satisfied: netdispatch in /usr/local/lib/python3.7/dist-packages (from ndlib) (0.1.0)
Requirement already satisfied: packaging>=16.8 in /usr/local/lib/python3.7/dist-packages (from bokeh->ndlib) (21.3)
Requirement already satisfied: PyYAML>=3.10 in /usr/local/lib/python3.7/dist-packages (from bokeh->ndlib) (3.13)
Requirement already satisfied: pillow>=7.1.0 in /usr/local/lib/python3.7/dist-packages (from bokeh->ndlib) (7.1.2)
Requirement already satisfied: tornado>=5.1 in /usr/local/lib/python3.7/dist-packages (from bokeh->ndlib) (5.1.1)
Requirement already satisfied: python-dateutil>=2.1 in /usr/local/lib/python3.7/dist-packages (from bokeh->ndlib) (2.8.2)
Requirement already satisfied: Jinja2>=2.9 in /usr/local/lib/python3.7/dist-packages (from bokeh->ndlib) (2.11.3)
Requirement already satisfied: typing-extensions>=3.7.4 in /usr/local/lib/python3.7/dist-packages (from bokeh->ndlib) (4.2.0)
Requirement already satisfied: MarkupSafe>=0.23 in /usr/local/lib/python3.7/dist-packages (from Jinja2>=2.9->bokeh->ndlib) (2.0.1)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in /usr/local/lib/python3.7/dist-packages (from packaging>=16.8->bokeh->ndlib) (3.0.9)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.1->bokeh->ndlib) (1.15.0)
Requirement already satisfied: decorator in /usr/local/lib/python3.7/dist-packages (from dynetx->ndlib) (4.4.2)
Requirement already satisfied: tqdm in /usr/local/lib/python3.7/dist-packages (from dynetx->ndlib) (4.64.0)
Requirement already satisfied: igraph==0.9.11 in /usr/local/lib/python3.7/dist-packages (from python-igraph->ndlib) (0.9.11)
Requirement already satisfied: texttable>=1.6.2 in /usr/local/lib/python3.7/dist-packages (from igraph==0.9.11->python-igraph->ndlib) (1.6.4)

In [263]:
import matplotlib.pyplot as plt
import numpy as np
import networkx as nx
import matplotlib.pyplot as plt
from sklearn.cluster import KMeans
import pickle
import math
import ndlib.models.ModelConfig as mc
import ndlib.models.epidemics as ep

In [264]:
df=pd.read_csv('TOPSIS_result.csv')

In [265]:

df['RankingEC'] = df['EC'].rank(ascending=False)
df['RankingBC'] = df['BC'].rank(ascending=False)
df['RankingDC'] = df['DC'].rank(ascending=False)
df['RankingCC'] = df['CC'].rank(ascending=False)
top10=pd.DataFrame()
top10['BC']=df[df['RankingBC'].isin(range(1,11))].node.values
top10['CC']=df[df['RankingCC'].isin(range(1,11))].node.values
top10['EC']=df[df['RankingEC'].isin(range(1,11))].node.values
top10['DC']=df[df['RankingDC'].isin(range(1,11))].node.values
top10['TOPSIS']=df[df.index.isin(range(10))].node.values

In [266]:
top10.to_csv("top10_result.csv")

In [267]:
G1 = nx.read_edgelist("facebook_combined.txt", nodetype = int)
data = pd.read_csv("TOPSIS_result.csv")
x=data[["DC","BC","CC","EC"]]

In [268]:
x

            DC        BC        CC            EC
0     0.258791  0.480518  0.459699  2.606940e-04
1     0.196137  0.337797  0.393606  7.164260e-06
2     0.186974  0.229295  0.350947  9.540696e-02
3     0.135463  0.236115  0.314413  9.531613e-08
4     0.085934  0.146306  0.353343  3.391796e-05
...        ...       ...       ...           ...
4034  0.000495  0.000000  0.178262  6.433195e-14
4035  0.000495  0.000000  0.178262  6.433195e-14
4036  0.000495  0.000000  0.178262  6.446055e-14
4037  0.000248  0.000000  0.178255  6.385265e-14
4038  0.000248  0.000000  0.178255  6.385265e-14

[4039 rows x 4 columns]

In [269]:
data.drop(columns=['TOPSIS'], inplace=True)
data
AA=pd.read_csv('TOPSIS_result.csv')
inf10=AA.head(10)
inf10

   node        DC        CC        BC            EC    TOPSIS
0   107  0.258791  0.459699  0.480518  2.606940e-04  0.913277
1  1684  0.196137  0.393606  0.337797  7.164260e-06  0.695566
2  1912  0.186974  0.350947  0.229295  9.540696e-02  0.496063
3  3437  0.135463  0.314413  0.236115  9.531613e-08  0.488865
4     0  0.085934  0.353343  0.146306  3.391796e-05  0.304321
5  1085  0.016345  0.357852  0.149015  3.164082e-06  0.297379
6   698  0.016840  0.271189  0.115330  1.116876e-09  0.231106
7   567  0.015602  0.328881  0.096310  9.932295e-06  0.193646
8    58  0.002972  0.397402  0.084360  5.898120e-04  0.169464
9   428  0.028479  0.394837  0.064309  5.990065e-04  0.132923

In [270]:
Y=inf10[["DC","BC","CC","EC"]]
Yrr=Y.to_numpy()
Yrr

array([[2.58791481e-01, 4.80518079e-01, 4.59699454e-01, 2.60693991e-04],
       [1.96136701e-01, 3.37797450e-01, 3.93605615e-01, 7.16425979e-06],
       [1.86973749e-01, 2.29295340e-01, 3.50947332e-01, 9.54069615e-02],
       [1.35463101e-01, 2.36115357e-01, 3.14412520e-01, 9.53161293e-08],
       [8.59336305e-02, 1.46305921e-01, 3.53342667e-01, 3.39179617e-05],
       [1.63447251e-02, 1.49015092e-01, 3.57851826e-01, 3.16408207e-06],
       [1.68400198e-02, 1.15330450e-01, 2.71188717e-01, 1.11687629e-09],
       [1.56017831e-02, 9.63103312e-02, 3.28880925e-01, 9.93229483e-06],
       [2.97176820e-03, 8.43602059e-02, 3.97401831e-01, 5.89812015e-04],
       [2.84794453e-02, 6.43090624e-02, 3.94837196e-01, 5.99006469e-04]])

In [271]:
kmeans = KMeans(n_clusters=10, init=Yrr, max_iter=20000, n_init=10, random_state=0).fit(x)
centr = kmeans.cluster_centers_
centr

/usr/local/lib/python3.7/dist-packages/sklearn/cluster/_kmeans.py:1146: RuntimeWarning: Explicit initial center position passed: performing only one init in KMeans instead of n_init=10.
  self._check_params(X)

array([[2.58791481e-01, 4.80518079e-01, 4.59699454e-01, 2.60693991e-04],
       [1.96136701e-01, 3.37797450e-01, 3.93605615e-01, 7.16425979e-06],
       [1.86973749e-01, 2.29295340e-01, 3.50947332e-01, 9.54069615e-02],
       [1.35463101e-01, 2.36115357e-01, 3.14412520e-01, 9.53161293e-08],
       [3.36800396e-02, 1.26740449e-01, 3.27816034e-01, 1.17538639e-05],
       [2.29796104e-02, 1.93982308e-02, 3.66188497e-01, 8.30760611e-04],
       [1.13856254e-02, 1.02967073e-04, 2.30286579e-01, 1.37995617e-02],
       [8.26088061e-03, 6.53818041e-05, 2.74121583e-01, 7.95701801e-04],
       [3.30098194e-02, 3.77552856e-04, 3.16551978e-01, 2.39305177e-03],
       [8.11982236e-03, 1.37653365e-04, 3.18305273e-01, 8.78205264e-06]])

In [272]:
def distance_euclidean(data,center,j):
    T= pd.DataFrame()
    for i in range(len(data)):
        distance=math.sqrt((data['DC'][i]-center[j][0])**2+(data['BC'][i]-center[j][1])**2+
                           (data['CC'][i]-center[j][2])**2+(data['EC'][i]-center[j][3])**2)
        T=T.append({'node':data['node'][i], 'cluster':str(j),'distance from center':distance},ignore_index=True)
    return T.sort_values(by='distance from center')

In [273]:
Res= pd.DataFrame()
for i in range(10):
  T=distance_euclidean(data,centr,i)
  Res=Res.append({'cluster':str(i), 'Node_avant_KMeans':str(inf10['node'][i]),
                    'Node_ apres _KMeans':int(T.head(1)['node']),
                    'distance from center':float(T.head(1)['distance from center'])},ignore_index=True)

In [274]:
Res

  cluster Node_avant_KMeans  Node_ apres _KMeans  distance from center
0       0               107                107.0          0.000000e+00
1       1              1684               1684.0          1.270549e-19
2       2              1912               1912.0          0.000000e+00
3       3              3437               3437.0          6.950964e-20
4       4                 0                567.0          3.541115e-02
5       5              1085               1465.0          1.425377e-02
6       6               698               3758.0          1.678485e-02
7       7               567                487.0          8.161578e-04
8       8                58               1456.0          2.899335e-03
9       9               428               1543.0          1.700190e-04

In [275]:
Res["Node_ apres _KMeans"]=Res["Node_ apres _KMeans"].astype(int)
Res.to_csv("k_means_result.csv",index=False)

In [277]:
Res

  cluster Node_avant_KMeans  Node_ apres _KMeans  distance from center
0       0               107                  107          0.000000e+00
1       1              1684                 1684          1.270549e-19
2       2              1912                 1912          0.000000e+00
3       3              3437                 3437          6.950964e-20
4       4                 0                  567          3.541115e-02
5       5              1085                 1465          1.425377e-02
6       6               698                 3758          1.678485e-02
7       7               567                  487          8.161578e-04
8       8                58                 1456          2.899335e-03
9       9               428                 1543          1.700190e-04

In [278]:
df=pd.read_csv('TOPSIS_result.csv')
df['RankingEC'] = df['EC'].rank(ascending=False)
df['RankingBC'] = df['BC'].rank(ascending=False)
df['RankingDC'] = df['DC'].rank(ascending=False)
df['RankingCC'] = df['CC'].rank(ascending=False)
top10=pd.DataFrame()
top10['BC']=df[df['RankingBC'].isin(range(1,11))].node.values
top10['CC']=df[df['RankingCC'].isin(range(1,11))].node.values
top10['EC']=df[df['RankingEC'].isin(range(1,11))].node.values
top10['DC']=df[df['RankingDC'].isin(range(1,11))].node.values
top10['TOPSIS']=df[df.index.isin(range(10))].node.values
top10.to_csv("top10_result.csv")
top10

     BC    CC    EC    DC  TOPSIS
0   107   107  1912   107     107
1  1684  1684  2266  1684    1684
2  1912    58  2233  1912    1912
3  3437   428  2206  3437    3437
4     0   563  2142     0       0
5  1085   414  2218  2347    1085
6   698   348  2078  2543     698
7   567   483  2464  1888     567
8    58   376  2123  1800      58
9   428   171  1993  1663     428

In [279]:
top10["k_means"]=Res["Node_ apres _KMeans"]

In [280]:
k_top10=top10

In [281]:
k_top10

     BC    CC    EC    DC  TOPSIS  k_means
0   107   107  1912   107     107      107
1  1684  1684  2266  1684    1684     1684
2  1912    58  2233  1912    1912     1912
3  3437   428  2206  3437    3437     3437
4     0   563  2142     0       0      567
5  1085   414  2218  2347    1085     1465
6   698   348  2078  2543     698     3758
7   567   483  2464  1888     567      487
8    58   376  2123  1800      58     1456
9   428   171  1993  1663     428     1543

In [282]:
k_top10.to_csv("k_top10_result.csv")